
<nav class="navbar navbar-expand-lg navbar-dark  bg-dark">
  <a class="navbar-brand" href="#">Smart Pathalogy Lab</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent1">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="loggedIn()" class="nav-item active">
        <a class="nav-link" [routerLink]="['/NewPatient']">New Patient(s)<span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="loggedIn()" class="nav-item">
        <a class="nav-link" [routerLink]="['/ModifyPatient']">Modify Patient(s)</a>
      </li>
       <li *ngIf="loggedIn()" class="nav-item">
        <a class="nav-link" [routerLink]="['/Doctors']">Doctor(s)</a>
      </li>
   <li *ngIf="loggedIn()"  class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Report(s)
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/NewReports']">New  Report(s)</a>
            <a class="dropdown-item" [routerLink]="['/AllReports']">Update Report(s) Result</a>
            <a class="dropdown-item" [routerLink]="['/ExportReports']">Export Report(s)</a>
          </div>
        </li>

      <li *ngIf="loggedIn() && Role=='A'"  class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/TestMaster']">Test(s) Master</a>
          <a class="dropdown-item" [routerLink]="['/CreatePathology']">Create New Pathology Lab</a>
          <a class="dropdown-item" [routerLink]="['/CreateuserAccount']">Create user Account</a>
          <a class="dropdown-item" [routerLink]="['/UserManagement']">User Management</a>
          <div class="dropdown-divider"></div>
          <!-- <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </li>
  </ul>
  <span *ngIf="loggedIn() && Role=='U'"  style="color: tomato; padding-right:10px;">Account expiry date:{{accountexpiry | date: 'short'}}</span>
   <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0"(ngSubmit)="loginForm.form.valid && login()">
      <div class="form-group"> 
        <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username" required [(ngModel)]="model.username" #Username="ngModel" [ngClass]="{ 'is-invalid': loginForm.submitted && Username.invalid }">
      
        <div *ngIf="loginForm.submitted && Username.invalid">
            <div *ngIf="Username.errors.required" style="color:#dc3545; font-size: small;">Username is required</div>
       </div>

       <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" required [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': loginForm.submitted && password.invalid }">  
          <div *ngIf="loginForm.submitted && password.invalid" >
              <div *ngIf="password.errors.required" style="color:#dc3545; font-size: small;">Password is required</div>
         </div>
         <button [disabled]="!isbtnEnabled"  class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
      </div> 

    
    </form>
    
  </div>
  <div *ngIf="loggedIn()">
    <ul>
        <li  class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <b >Welcome User:</b> {{LoggedUsername |titlecase}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" (click)="ChangePassword()">Change Password</a>
              <a class="dropdown-item" (click)="logout()">Logout</a>
          
           </div>
    </ul>
   
  </div>
</nav>

<div *ngIf="!loggedIn()" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Smart Pathalogy Lab</h1>
    <p class="lead">
      We provides pathology labs the flexible information module that is specifically used to disseminate and record the data corresponding to all the test performed in the laboratory. It facilitates users by providing the functionality of receiving online requests from doctors and also allows laboratory personnel to create requests.
      <br>
      <span style="color: maroon;">
      
        <h5>Product Description</h5>
        
        1)Book a test for the customer <br>
        2)Enter customer's details <br>
        3)Give test reports to the customer <br>
        4)Facility to download the report of test performed.<br>
        5)Facility to send test report to customer in email.<br>
      </span>
   
      
    </p>
    <h6 style="color: maroon; ">Contact for Product demo</h6>
    <p style="color: maroon; background-color: yellowgreen; ">
       Email-rohit.muri@gmail.com<br>
      Contact No- 
    </p>
  </div>
</div>

