 <div class="row" >
                  <div class="col-sm-12">
                      <div class="jumbotron">
                          <div class="container">
                              <div class="row">
                                  <div class="col-md-8 offset-md-2">
                                  
                                      <form name="form" (ngSubmit)="f.form.valid && ChangepasswordbyUser()" #f="ngForm" [mustMatch]="['Newpwd', 'Confpwd']" >
                                        
                                        <h2 class="text-center">Change Password</h2>
                                        <div class="form-group">
                                          <label for="currentpassword" class="col-sm-5 control-label">Current Password*</label>
                                          <input type="password" class="form-control" name="password" [(ngModel)]="CurrentPassword" #Currentpwd="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Currentpwd.invalid }" required />
                                          <div *ngIf="f.submitted && Currentpwd.invalid" class="invalid-feedback">
                                              <div *ngIf="Currentpwd.errors.required">Current Password is required</div>
                                          </div>
                                         </div>
                                         <div class="form-group">
                                          <label for="NewPassword" class="col-sm-5 control-label">New Password*</label>
                                          <input type="password" class="form-control" name="Newpwd" [(ngModel)]="Newpassword" #Newpwd="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Newpwd.invalid }" required minlength="6" />
                                          <div *ngIf="f.submitted && Newpwd.invalid" class="invalid-feedback">
                                              <div *ngIf="Newpwd.errors.required">New Password is required</div>
                                              <div *ngIf="Newpwd.errors.minlength"> New Password must be at least 6 characters</div>
                                          </div>
                                         </div>

                                         <div class="form-group">
                                            <label for="Confirmpassword" class="col-sm-5 control-label">Confirm Password*</label>
                                            <input type="password" class="form-control" name="Confpwd" [(ngModel)]="Confirmpassword" #Confpwd="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Confpwd.invalid }" required  />
                                            <div *ngIf="f.submitted && Confpwd.invalid" class="invalid-feedback">
                                                <div *ngIf="Confpwd.errors.required">Confirm Password is required</div>
                                                <div *ngIf="Confpwd.errors.mustMatch"> New Password and Confirm Password must match </div>
                                            </div>
                                           </div>
                          
                                         
                                            <div class="form-group">
                                                <span style="margin: 10px;">
                                                    <button class="btn btn-primary" >Change Password</button>
                                                </span>
                                                <span>
                                                    <a class="btn btn-secondary" (click)="CancelClick()" >Cancel</a>
                                               
                                                </span>
                                            
                                            
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                        </div>
                  </div>
                </div>
          
  



    
    
  
      
     
  


